<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Icon Drawer</title>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
  </head>
  <body>
    <div id="aplicacion">
      {{mensaje}}
      <br />
      <input type="text" v-model="icono" />
      <button @click="fetchIcon">Enviar</button>
      <br />
      <p v-if="svg.width == undefined">{{errorMessage}}</p>
      <div>
        <h2>{{svg.label}}</h2>
        <svg :height="svg.height" :width="svg.width" :aria-label="svg.label">
          <path :d="svg.path" />
        </svg>
      </div>
      <br />
    </div>
    <script>
      Vue.createApp({
        data() {
          return {
            mensaje: "Hello Vue",
            icono: "",
            svg: {
              width: undefined,
              height: undefined,
              label: undefined,
              path: undefined,
            },
            errorMessage: undefined,
          };
        },
        methods: {
          async fetchIcon() {
            await fetch(
              "http://34.90.153.139/ejercicios/icono.php?nombre=" + this.icono
            )
              .then((r) => r.json())
              .then((icon) => {
                if (icon != JSON) {
                  this.errorMessage = "Icono no encontrado";
                }
                this.svg = {
                  width: icon.width,
                  height: icon.height,
                  label: icon.label,
                  path: icon.path,
                };
              });
          },
        },
      }).mount("#aplicacion");
    </script>
  </body>
</html>
